body {
    font-family: 'Pacifico', cursive;
    background-color: #f1e0e3;
    color: black;
}

.btn-color {
    background-color: #c7aaa3;
    color: white;
}

.card-color {
    background-color: #c7aaa3;
}

.carousel-item .img-fluid {
    width: 100%;
}

.navbar {
    background-color: #a4a8b6;
}

.row-content {
    padding: 0;
}


.site-footer {
    color: white;
    background-color: #8b6c5e;
    padding: 20px;
}

.underline {
    text-decoration: underline;
}

.btn-icon {
    color: white;

}

.btn-white {
    color: white !important;
    opacity: 80%;
}

.btn-white:hover, .btn-my-own-color:active {
    color: white !important;
    opacity: 100;
}

.menu-list  {
    columns: 2;
}

.menu-list li {
    margin: 12px;
}

h6 {
    text-align: center;
    font-size: 14pt;
    margin-bottom: 1rem;
}

.card-columns {
    column-gap: 0.75rem;
}

.card, .card-img, .card-img-top {
    border-radius: 0;
}